$color-primary-0: #070748;	/* Main Primary color */
$color-primary-1: #08082D;
$color-primary-2: #060637;
$color-primary-3: #0D0D6D;
$color-primary-4: #101094;

$color-secondary-1-0: #660000;	/* Main Secondary color (1) */
$color-secondary-1-1: #410202;
$color-secondary-1-2: #4F0000;
$color-secondary-1-3: #9B0000;
$color-secondary-1-4: #D30000;

$color-secondary-2-0: #C0C0C0;	/* Main Secondary color (2) */
$color-secondary-2-1: #626262;
$color-secondary-2-2: #969696;
$color-secondary-2-3: #FFFFFF;
$color-secondary-2-4: #FFFFFF;

//* As RGBa codes */

$rgba-primary-0: rgba(  7,  7, 72,1);	/* Main Primary color */
$rgba-primary-1: rgba(  8,  8, 45,1);
$rgba-primary-2: rgba(  6,  6, 55,1);
$rgba-primary-3: rgba( 13, 13,109,1);
$rgba-primary-4: rgba( 16, 16,148,1);

$rgba-secondary-1-0: rgba(102,  0,  0,1);	/* Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 65,  2,  2,1);
$rgba-secondary-1-2: rgba( 79,  0,  0,1);
$rgba-secondary-1-3: rgba(155,  0,  0,1);
$rgba-secondary-1-4: rgba(211,  0,  0,1);

$rgba-secondary-2-0: rgba(192,192,192,1);	/* Main Secondary color (2) */
$rgba-secondary-2-1: rgba( 98, 98, 98,1);
$rgba-secondary-2-2: rgba(150,150,150,1);
$rgba-secondary-2-3: rgba(255,255,255,1);
$rgba-secondary-2-4: rgba(255,255,255,1);