@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
/* line 5, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../Fonts/internet/Icomoon/icomoon.eot?-y7avys");
  src: url("../../Fonts/internet/Icomoon/icomoon.eot?#iefix-y7avys") format("embedded-opentype"), url("../../Fonts/internet/Icomoon/icomoon.woff?-y7avys") format("woff"), url("../../Fonts/internet/Icomoon/icomoon.ttf?-y7avys") format("truetype"), url("../../Fonts/internet/Icomoon/icomoon.svg?-y7avys#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* line 3, ../../sass/internet/_standards.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* line 61, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
*:-moz-placeholder, *:before:-moz-placeholder, *:after:-moz-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
/* line 64, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
*::-moz-placeholder, *:before::-moz-placeholder, *:after::-moz-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
/* line 67, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
*:-ms-input-placeholder, *:before:-ms-input-placeholder, *:after:-ms-input-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
/* line 56, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
*::-webkit-input-placeholder, *:before::-webkit-input-placeholder, *:after::-webkit-input-placeholder {
  color: #bfbfbf;
  font-style: italic;
}

/* line 12, ../../sass/internet/_standards.scss */
p {
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, sans-serif;
}

/* line 18, ../../sass/internet/_standards.scss */
h1, h2, h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* line 23, ../../sass/internet/_standards.scss */
h1 {
  font-size: 4em;
}

/* line 27, ../../sass/internet/_standards.scss */
h2 {
  font-size: 3em;
}

/* line 31, ../../sass/internet/_standards.scss */
h3 {
  font-size: 2em;
}

/* line 39, ../../sass/internet/_standards.scss */
a {
  color: #9B0000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
/* line 44, ../../sass/internet/_standards.scss */
a:hover, a:active {
  color: #D30000;
  text-decoration: underline;
}

/* line 51, ../../sass/internet/_standards.scss */
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

/* line 57, ../../sass/internet/_standards.scss */
.main-content {
  min-height: 700px;
}

/* line 61, ../../sass/internet/_standards.scss */
.non-markable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 65, ../../sass/internet/_standards.scss */
.row-container {
  width: 100%;
}
/* line 67, ../../sass/internet/_standards.scss */
.row-container > div {
  margin-right: -4px;
}

/* line 75, ../../sass/internet/_standards.scss */
.span-12 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-12 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-11 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-11 {
    display: inline-block;
    vertical-align: top;
    width: 91.66667%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-10 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-10 {
    display: inline-block;
    vertical-align: top;
    width: 83.33333%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-9 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-9 {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-8 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-8 {
    display: inline-block;
    vertical-align: top;
    width: 66.66667%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-7 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-7 {
    display: inline-block;
    vertical-align: top;
    width: 58.33333%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-6 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-5 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-5 {
    display: inline-block;
    vertical-align: top;
    width: 41.66667%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-4 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-4 {
    display: inline-block;
    vertical-align: top;
    width: 33.33333%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-3 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-2 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-2 {
    display: inline-block;
    vertical-align: top;
    width: 16.66667%;
  }
}

/* line 75, ../../sass/internet/_standards.scss */
.span-1 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media all and (max-width: 768px) {
  /* line 75, ../../sass/internet/_standards.scss */
  .span-1 {
    display: inline-block;
    vertical-align: top;
    width: 8.33333%;
  }
}

/* line 1, ../../sass/internet/_icons.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 15, ../../sass/internet/_icons.scss */
[class^="icon-"]:before, [class^="icon-"]:after,
[class*=" icon-"]:before,
[class*=" icon-"]:after {
  font-family: 'icomoon';
}

/* line 21, ../../sass/internet/_icons.scss */
.icon-phone:before {
  content: "\66";
}

/* line 24, ../../sass/internet/_icons.scss */
.icon-envelope:before {
  content: "\65";
}

/* line 27, ../../sass/internet/_icons.scss */
.icon-location:before {
  content: "\64";
}

/* line 30, ../../sass/internet/_icons.scss */
.icon-mobile:before {
  content: "\63";
}

/* line 33, ../../sass/internet/_icons.scss */
.icon-search:before {
  content: "\61";
}

/* line 36, ../../sass/internet/_icons.scss */
.icon-menu:before {
  content: "\62";
}

/* line 39, ../../sass/internet/_icons.scss */
.icon-facebook:before {
  content: "\31";
}

/* line 42, ../../sass/internet/_icons.scss */
.icon-facebook2:before {
  content: "\32";
}

/* line 45, ../../sass/internet/_icons.scss */
.icon-facebook3:before {
  content: "\33";
}

/* line 48, ../../sass/internet/_icons.scss */
.icon-instagram:before {
  content: "\37";
}

/* line 51, ../../sass/internet/_icons.scss */
.icon-twitter:before {
  content: "\34";
}

/* line 54, ../../sass/internet/_icons.scss */
.icon-twitter2:before {
  content: "\35";
}

/* line 57, ../../sass/internet/_icons.scss */
.icon-twitter3:before {
  content: "\36";
}

/* line 61, ../../sass/internet/_icons.scss */
.icon-circle-container {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  position: relative;
  border: 1px solid #969696;
  text-align: center;
  display: inline-block;
  font-size: 2.2em;
  width: 70px;
  height: 70px;
}
/* line 71, ../../sass/internet/_icons.scss */
.icon-circle-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  vertical-align: middle;
  color: #969696;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../../sass/internet/_layout.scss */
section.cropped {
  padding: 10px;
  width: 100%;
}

/* line 6, ../../sass/internet/_layout.scss */
aside.side-panel {
  padding: 10px;
  width: 100%;
}

/* line 11, ../../sass/internet/_layout.scss */
footer.page-footer {
  margin-top: 40px;
}

@media all and (min-width: 768px) {
  /* line 17, ../../sass/internet/_layout.scss */
  section.cropped {
    width: 70%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }

  /* line 24, ../../sass/internet/_layout.scss */
  aside.side-panel {
    display: inline-block;
    width: 30%;
    margin-right: -4px;
    vertical-align: top;
  }
}
/* line 2, ../../sass/internet/_buttons.scss */
.rounded-button {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  background-color: #D30000;
  color: white;
  padding: 10px 15px;
}
/* line 9, ../../sass/internet/_buttons.scss */
.rounded-button:hover, .rounded-button:active {
  color: white;
  text-shadow: 0 1px 1px #FFFFFF;
}
/* line 15, ../../sass/internet/_buttons.scss */
.rounded-button.air {
  margin: 5px;
}

/* line 1, ../../sass/internet/_forms.scss */
input {
  border: 1px solid #D30000;
  height: 30px;
  padding: 0px 5px;
  font-family: Arial, sans-serif;
}

/* line 8, ../../sass/internet/_forms.scss */
.header-search {
  position: relative;
  height: 32px;
  width: 100%;
  max-width: 285px;
  display: inline-block;
  padding-right: 45px;
  border: 1px solid #969696;
}
/* line 18, ../../sass/internet/_forms.scss */
.header-search input {
  display: block;
  width: 100%;
  border: none;
  font-style: italic;
}
/* line 25, ../../sass/internet/_forms.scss */
.header-search button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  margin: 0px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #D30000;
  border: 1px solid #D30000;
  padding: 0px 15px;
  cursor: pointer;
}

/**********************
* HEADER DESKTOP WIDTH
**/
/* line 11, ../../sass/internet/_header.scss */
header.page-header {
  width: 100%;
  background-color: #070748;
  text-align: right;
  border-top: 5px solid #969696;
}
/* line 26, ../../sass/framework/_mixins.scss */
header.page-header nav.desktop {
  display: none;
}
/* line 27, ../../sass/framework/_mixins.scss */
header.page-header nav.mobile {
  display: none;
}
/* line 18, ../../sass/internet/_header.scss */
header.page-header .header-body {
  height: 100%;
  position: relative;
}
/* line 23, ../../sass/internet/_header.scss */
header.page-header .search-container {
  display: none;
}
/* line 27, ../../sass/internet/_header.scss */
header.page-header .content {
  margin-bottom: -1px;
}
/* line 31, ../../sass/internet/_header.scss */
header.page-header .menu-button-container {
  display: inline-block;
  line-height: 50px;
  text-align: right;
}
/* line 36, ../../sass/internet/_header.scss */
header.page-header .menu-button-container a {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 10px;
}
/* line 44, ../../sass/internet/_header.scss */
header.page-header .menu-button-container .search-button {
  font-size: 1.75em;
}
/* line 45, ../../sass/internet/_header.scss */
header.page-header .menu-button-container .menu-button {
  font-size: 1.75em;
}
/* line 49, ../../sass/internet/_header.scss */
header.page-header a {
  color: #C0C0C0;
  text-shadow: 0 1px 1px #FFFFFF;
}
/* line 53, ../../sass/internet/_header.scss */
header.page-header a:visited {
  color: #C0C0C0;
}
/* line 55, ../../sass/internet/_header.scss */
header.page-header a:active, header.page-header a:hover, header.page-header a.active {
  color: #FFFFFF;
}

@media all and (min-width: 768px) {
  /* line 64, ../../sass/internet/_header.scss */
  header.page-header {
    border-bottom: 2px solid #969696;
  }
  /* line 30, ../../sass/framework/_mixins.scss */
  header.page-header nav.desktop {
    display: inline-block;
  }
  /* line 31, ../../sass/framework/_mixins.scss */
  header.page-header nav.mobile {
    display: none;
  }
  /* line 68, ../../sass/internet/_header.scss */
  header.page-header .content {
    display: block;
    padding-left: 105px;
    padding-right: 10px;
    margin-bottom: 0px;
  }
  /* line 75, ../../sass/internet/_header.scss */
  header.page-header .search-container {
    display: inline-block;
    width: 25%;
    line-height: 50px;
    margin-right: -4px;
    text-align: right;
  }
  /* line 83, ../../sass/internet/_header.scss */
  header.page-header .menu-button-container {
    display: none;
  }
}
/* line 92, ../../sass/internet/_header.scss */
nav.main {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  border-top: 1px solid #D30000;
}
/* line 97, ../../sass/internet/_header.scss */
nav.main.mobile {
  display: none;
}
/* line 101, ../../sass/internet/_header.scss */
nav.main ul {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #070748;
}
/* line 106, ../../sass/internet/_header.scss */
nav.main li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px dashed #969696;
}
/* line 109, ../../sass/internet/_header.scss */
nav.main li:last-child {
  border-bottom: none;
}
/* line 112, ../../sass/internet/_header.scss */
nav.main li a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial,sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.90em;
  line-height: 40px;
}

@media all and (min-width: 768px) {
  /* line 123, ../../sass/internet/_header.scss */
  nav.main {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: 75%;
    border-top: none;
  }
  /* line 130, ../../sass/internet/_header.scss */
  nav.main.mobile {
    display: none !important;
  }
  /* line 134, ../../sass/internet/_header.scss */
  nav.main ul {
    padding: 0px 5px;
    text-align: left;
    background-color: transparent;
    vertical-align: inherit;
    height: inherit;
  }
  /* line 141, ../../sass/internet/_header.scss */
  nav.main li {
    display: inline-block;
    vertical-align: inherit;
    margin-right: -4px;
    height: inherit;
    height: 100%;
    line-height: 50px;
    border-bottom: none;
  }
  /* line 150, ../../sass/internet/_header.scss */
  nav.main li a {
    -moz-transition: border 500ms;
    -o-transition: border 500ms;
    -webkit-transition: border 500ms;
    transition: border 500ms;
    display: inline-block;
    vertical-align: inherit;
    height: inherit;
    line-height: inherit;
    padding: 0px 5px;
  }
  /* line 158, ../../sass/internet/_header.scss */
  nav.main li a.active, nav.main li a:hover {
    position: relative;
    top: -5px;
    border-top: 5px solid #D30000;
  }
}
/* line 173, ../../sass/internet/_header.scss */
.logo-wrapper {
  height: 50px;
  display: inline-block;
  float: left;
}
/* line 178, ../../sass/internet/_header.scss */
.logo-wrapper .logo {
  height: 100%;
}

@media all and (min-width: 768px) {
  /* line 183, ../../sass/internet/_header.scss */
  .logo-wrapper {
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: auto;
    background-color: #070748;
    padding: 5px;
  }
  /* line 194, ../../sass/internet/_header.scss */
  .logo-wrapper .logo {
    width: 100%;
    height: auto;
    position: relative;
    top: 5px;
  }
}
/* line 1, ../../sass/internet/_footer.scss */
footer.page-footer {
  min-height: 250px;
  background-color: #C0C0C0;
  border-top: 5px solid #070748;
}
/* line 6, ../../sass/internet/_footer.scss */
footer.page-footer .footer-body {
  min-height: inherit;
}
/* line 10, ../../sass/internet/_footer.scss */
footer.page-footer .footer-cell {
  padding: 1em 20px;
  text-align: center;
}
/* line 15, ../../sass/internet/_footer.scss */
footer.page-footer .social-link {
  cursor: pointer;
  margin: 5px;
}
/* line 19, ../../sass/internet/_footer.scss */
footer.page-footer .social-link:hover {
  background-color: #D30000;
}
/* line 21, ../../sass/internet/_footer.scss */
footer.page-footer .social-link:hover span {
  color: #FFFFFF;
}

@media all and (min-width: 768px) {
  /* line 29, ../../sass/internet/_footer.scss */
  footer.page-footer {
    display: table;
    width: 100%;
  }
  /* line 33, ../../sass/internet/_footer.scss */
  footer.page-footer .footer-cell {
    display: table-cell;
    width: 33.33333333333333%;
    vertical-align: middle;
  }
  /* line 39, ../../sass/internet/_footer.scss */
  footer.page-footer .socials {
    text-align: left;
    padding: 4.5em 0px;
  }
}
/* line 5, ../../sass/internet/_components.scss */
.banner {
  -moz-box-shadow: 0px 50px 100px 10px #dadada;
  -webkit-box-shadow: 0px 50px 100px 10px #dadada;
  box-shadow: 0px 50px 100px 10px #dadada;
  border-bottom: 3px solid #FFFFFF;
}
/* line 9, ../../sass/internet/_components.scss */
.banner.gray {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGFkYWRhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #dadada, #ffffff, #dadada);
  background-image: -webkit-linear-gradient(330deg, #dadada, #ffffff, #dadada);
  background-image: linear-gradient(120deg, #dadada, #ffffff, #dadada);
}
/* line 14, ../../sass/internet/_components.scss */
.banner img {
  width: 100%;
  display: block;
}

/* line 24, ../../sass/internet/_components.scss */
.news-feed h1 {
  font-size: 1.35em;
  margin-bottom: 0.5em;
}
/* line 28, ../../sass/internet/_components.scss */
.news-feed .news-container {
  padding: 10px 0px;
}
/* line 31, ../../sass/internet/_components.scss */
.news-feed .news {
  border-bottom: 1px dotted #969696;
}
/* line 34, ../../sass/internet/_components.scss */
.news-feed .news img {
  width: 100%;
  display: block;
}
/* line 39, ../../sass/internet/_components.scss */
.news-feed .news .image-text {
  padding: 10px 0px;
}
/* line 43, ../../sass/internet/_components.scss */
.news-feed .news.featured {
  position: relative;
  border-bottom: 1px dotted #969696;
}
/* line 47, ../../sass/internet/_components.scss */
.news-feed .news.featured .image-text {
  position: absolute;
  left: 0px;
  bottom: 10px;
  background-color: #08082D;
  opacity: 0.75;
  color: #ffffff;
  padding: 10px;
}
/* line 58, ../../sass/internet/_components.scss */
.news-feed .news-4-4 {
  margin: 0px -10px;
}
/* line 60, ../../sass/internet/_components.scss */
.news-feed .news-4-4 .news {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 50%;
  padding: 10px;
}
/* line 69, ../../sass/internet/_components.scss */
.news-feed .news-list .news {
  display: block;
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
}
/* line 75, ../../sass/internet/_components.scss */
.news-feed .news-list .news img {
  max-width: 230px;
  float: left;
  margin-right: 0.5em;
}
@media all and (max-width: 768px) {
  /* line 84, ../../sass/internet/_components.scss */
  .news-feed .news-container {
    padding: 10px 0px;
  }
  /* line 87, ../../sass/internet/_components.scss */
  .news-feed .news {
    border-bottom: 1px dotted #969696;
  }
  /* line 90, ../../sass/internet/_components.scss */
  .news-feed .news img {
    width: 100%;
    display: block;
  }
  /* line 96, ../../sass/internet/_components.scss */
  .news-feed .news.featured .image-text {
    position: relative;
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  /* line 104, ../../sass/internet/_components.scss */
  .news-feed .news-4-4 {
    margin: 0px;
  }
  /* line 106, ../../sass/internet/_components.scss */
  .news-feed .news-4-4 .news {
    width: 100%;
  }
  /* line 112, ../../sass/internet/_components.scss */
  .news-feed .news-list .news img {
    width: 100%;
    max-width: none;
  }
}

/* line 125, ../../sass/internet/_components.scss */
.side-panel > div {
  margin: 10px 0px;
}

/* line 133, ../../sass/internet/_components.scss */
.common-box {
  width: 100%;
  height: 100%;
}
/* line 137, ../../sass/internet/_components.scss */
.common-box .box-body {
  border: 1px solid #969696;
  padding: 20px;
}
