.header-search {
  position: relative;
  height: 32px;
  width: 100%;
  max-width: 285px;
  display: inline-block;
  padding-right: 45px;
  border: 1px solid $border-color-light;


  input {
    display: block;
    width: 100%;
    border: none;
    font-style: italic;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    margin: 0;
    color: $search-button-text-color;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: $search-button-color;
    border: 1px solid $border-color;
    padding: 0 15px;
    cursor: pointer;
  }
}
