@import "../framework/settings";

*, *:before, *:after {
  @include box-sizing(border-box);
  @include input-placeholder {
    color: #bfbfbf;
    font-style: italic;
  }
  font-family: Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, sans-serif;
}

h1,h2,h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

body {
//  background-color: ;
}

a {
  color: $link-standar-color;
  text-decoration: none;
  font-family: Arial, sans-serif;

  &:hover,
  &:active {
    color: $link-standar-color-hover;
    text-decoration: underline;
  }
}

.wrapper {
  width: 100%;
  max-width: $max-page-width;
  margin: 0px auto;
}

.main-content {
  min-height: 700px;
}

.non-markable {
  @include non-markable;
}

.row-container {
  width: 100%;
  > div {
    margin-right: -4px;
  }
}


$columns: 12;
@while $columns > 0 {
  .span-#{$columns} {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include breakpoint(tablet) {
      display: inline-block;
      vertical-align: top;
      width: percentage((1 / 12) * $columns);
    }
  }
  $columns: $columns - 1;
}


//@media all and (min-width: $tablet-width) {
//  $columns: 12;
//  @while $columns > 0 {
//    .span-#{$columns} {
//
//    }
//    $columns: $columns - 1;
//  }
//}
